{% extends 'base.html' %}
{% load static %}
{% block content %}
   
    <body>
        <header>
            <h1><a href="/">My Todos</a></h1>
            <a href= "{% url 'todo_new' %}" class="top-menu">
                <link rel="stylesheet" href="{% static 'css/main.css' %}">
                {% include '../icons/file-earmark-plus (1).svg' %}
            </a>
        </header>

        {% for todo in todos.all %}
            <article>
                <time>Due Date: {{ todo.due_date }}</time>
                <h2><a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.text }}</a></h2>
                
</a>
                <p>{{ todo.user|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
{% endblock %}