{% extends 'base.html' %}

{% block content %}
    <article class="todo">
        <aside class="actions">
            <a class="btn btn-default" href="{% url 'todo_edit' pk=todo.pk %}">
              {% include 'icons/pencil-fill.svg' %} 
            </a>
        </aside>
        {% if todo.created_date %}
        {% endif %}
        <h2>{{ todo.task }}</h2>
        <h3>{{ todo.user }}</h3>
        <p>{{ todo.text }}</p>
        <time class="date">
            {{ todo.created_date }}
        </time>
    </article>
{% endblock %}