.page-header {
    background-color: #064a72;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 40px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #f8fafc;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: DejaVu Sans Mono, monospace;
    color: #063453
}

.date {
    color: #0a0a0a;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: center;
    font-size: 30pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #063453;
    background-color: #828282;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #64055f;
    background: #828282;
    border-color: #64055f;
}

.btn-default:hover {
    color: #630954;
    background-color: #7a0a71;
    
}